/* reset */
body * {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Body */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #000000;
}

/* Nav */
.logo{
  height: 30px;
  }

.text-logo{
font-size: 20px;
}

/* Header */
.carousel-height{
  height: 600px;
}

/* Section us */
h1 {
  font-size: 30px;
  font-weight: 300;
}

.bordesup{
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #17A3B8;
  margin-top: 15px;
}

/* Card - Footer */
.bg-color{
  background-color: #17A3B8;
}