/* reset */
body * {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Body */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
}

/* Nav */
.logo {
  height: 30px;
}

/* .navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
} */

/* .bg-trans {
background-color: transparent;
} */

.bg-nav {
  background-color: #000000;
}

.text-logo {
  font-size: 20px;
}

/* Header */
.carousel-height {
  height: 600px;
}

/* Section us */
h1 {
  font-size: 30px;
  font-weight: 300;
}

/* Section us, great and contact */
.bordesup {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #17a3b8;
  margin-top: 15px;
}

/* Card - Footer */
.bg-color {
  background-color: #17a3b8;
}

/* Footer */
footer h2 {
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 768px) {
  /* Header */
  .carousel-height {
    height: 400px;
  }


}
